html {
  font-family: 'Source Sans Pro', Helvetica, sans-serif;
  background: rgb(66, 66, 66);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  max-width: 640px;
  margin: auto;
}

.btn {
  border-radius: 16px;
}

header {
  display: flex;
  color: #a300ff;
  background-color: rgb(247, 247, 247);
  height: 64px;
  margin-bottom: 40px;
}

.headerContent {
  margin: auto;
  padding: 0 16px;
  width: 100%;
  max-width: 560px; 
  display: flex;
  align-items: flex-end;
}

.appName {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0; 
}